<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("templates/head"); %>
</head>
<body>
    <%- include("templates/header"); %>
    <%- include("templates/menu"); %>
    <div id="container" class="container d-none">
        <div class="row">
            <main class="col-12">
                <div id="comunidad" class="my-3">
                    <div class="titulo">Comunidad</div>
                    <div name="cardListado">
                        <div class="card">
                            <div class="card-header">
                                <div class="btn-group">
                                    <button class="btn btn-outline-secondary btn-sm" tab-ref="listado" style="width: 100px;">Listado</button>
                                    <button class="btn btn-outline-secondary btn-sm" tab-ref="datos" style="width: 100px;">Datos</button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-6" tab="listado">
                                        <div class="row mb-3">
                                            <div class="col">
                                                <button class="btn btn-light btn-block btn-sm" crud="btNew">Nuevo</button>
                                            </div>
                                            <div class="col">
                                                <button class="btn btn-light btn-block btn-sm" crud="btModify">Modificar</button>
                                            </div>
                                            <div class="col">
                                                <button class="btn btn-light btn-block btn-sm" crud="btDelete">Eliminar</button>
                                            </div>
                                            <div class="col">
                                                <button class="btn btn-light btn-block btn-sm" crud="btAbrir">Abrir</button>
                                            </div>
                                        </div>
                                        <div id="container-main-table" class="border"></div>
                                    </div>
                                    <div class="col-sm-6 d-none d-sm-block" tab="datos" crud="fields">
                                        <div class="form-group">
                                            <label for="">POI</label>
                                            <div class="input-group">
                                                <input type="text" readonly="true" name="_poi" class="form-control">
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary" name="btSeleccionarPoi"><i class="fas fa-hand-pointer"></i></button>
                                                </div>
                                            </div>
                                            <small class="text-muted">*No es obligatorio</small>
                                        </div>
                                        <div class="form-group">
                                            <label for="">Nombre</label>
                                            <input type="text" name="nombre" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="">Detalle <button class="btn btn-sm btn-warning" name="llenar_detalle">Llenar</button><button class="btn btn-sm btn-warning ml-2" name="habilitar_detalle">Habilitar</button></label>
                                            <textarea id="detalle"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="">Imagen</label>
                                            <div class="row">
                                                <div class="imagen col my-2" name="img1" style="margin: auto;"></div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="">Botón</label>
                                            <select name="boton" class="form-control">
                                                <option value="0">-=SELECCIONAR=-</option>
                                                <option value="Exitos">Exitos</option>
                                                <option value="Felicidades">Felicidades</option>
                                                <option value="Felicidades">Felicitaciones</option>
                                                <option value="Mucha merd">Mucha Merd</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="">Activo</label>
                                            <select name="activo" class="form-control">
                                                <option value="0">No</option>
                                                <option value="1">Si</option>
                                            </select>
                                        </div>
                                        <button class="btn btn-block btn-sm btn-primary mt-2" name="btGuardar" crud="btSave">Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--#muro-->
            </main>
        </div>
    </div>

    <div class="d-none"></div>

    <%- include("templates/scripts") %>
    <script src="/scripts/AdminComunidad.js"></script>
    <script src="/resources/SimpleCRUD.js"></script>
    <script src="/resources/cdns/ckeditor/ckeditor.js"></script>
    <script>
        var comunidad = new AdminComunidad();
        window.onload = () =>{
            comunidad.ini();
        }
    </script>
    <%- include("templates/footer") %>
</body>
</html>