<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("templates/head"); %>
</head>
<body>
    <%- include("templates/header"); %>
    <%- include("templates/menu"); %>
    <div id="container" class="container mt-3 d-none">
        <div class="row">
            <main class="col-12 col-sm-12 col-md-9">
                <div class="titulo">Guía comercial <small name="buscado" class="text-muted d-none" style="font-size: 0.5em"> - Buscado: ?</small></div>
                <div class="text-right">
                    <a name="share_facebook" href="https://www.facebook.com/sharer.php?u=https://roqueperezhoy.com.ar/guia-comercial" target="_blank" class="btn btn-sm text-white" style="background-color: var(--facebook);"><i class="fab fa-facebook"></i></a>
                    <a name="share_whatsapp" href="https://wa.me/?text=https://roqueperezhoy.com.ar/guia-comercial" target="_blank" class="btn btn-sm text-white" style="background-color: var(--whatsapp);"><i class="fab fa-whatsapp"></i></a>
                    <a name="share_twitter" href="https://twitter.com/intent/tweet?text=guia-comercial%20RoquePerezHoy&url=https://roqueperezhoy.com.ar/guia-comercial" target="_blank" class="btn btn-sm text-white" style="background-color: var(--twitter);"><i class="fab fa-twitter"></i></a>
                </div>
                <div id="guia-comercial" class="mt-3">
                    <div class="input-group mb-3" style="position: relative;">
                        <input type="search" class="form-control" name="txBuscar" autocomplete="off" placeholder="Buscar emprendimiento...">
                        <span name="mostrar_todo" class="d-none" style="position: absolute; top:5px; left: 10px; font-size: 1.2rem;" class="badge badge-secondary cp"><span>busqueda...</span><i class="fas fa-times text-danger ml-2"></i></span>
                        <div class="input-group-append">
                            <button class="btn btn-secondary" name="filtrar"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                    <div name="listado" class="row mt-2"></div>
                    <div class="text-center my-4 mb-4">
                        <button class="btn btn-primary w-50" name="cargar_mas">Cargar más</button>
                    </div>
                </div>
            </main>
            <aside class="col-12 col-sm-12 col-md-3" name="publicidades_laterales">
                <div class="titulo">Publicidad</div>
            </aside>
            <aside class="col-12" name="publicidades_inferiores"></aside>
        </div>
    </div>
    <div class="d-none">
        <div id="template_item">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="card cp shadow-sm mb-4" style="position:relative" poi="0" ind="0">
                    <a class="no-a">
                        <div name="etiqueta" class="h3 d-none" style="position:absolute; top:5px; right:5px"><i class="fas fa-star text-warning"></i></div>
                        <img name="imagen" class="card-img-top img-169" alt="poi">
                        <div class="card-body">
                            <h5 class="card-title" name="titulo"></h5>
                            <p class="card-text" name="titulo2"></p>
                            <span class="badge badge-info" name="categoria_1">Profesionales</span>
                            <span class="badge badge-warning" name="abierto"><i class="fas fa-clock"></i></span>
                            <span class="badge badge-light" name="favorito"><i class="fas fa-heart text-danger"></i> Favoritos</span>
                            
                            <div class="text-right text-primary cp">+ info</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <%- include("templates/scripts") %>
    <script src="/scripts/FrontGuiaComercial.js"></script>
    <script>
        var guiaComercial = new FrontGuiaComercial();
        window.onload = () =>{
            guiaComercial.ini();
        }
    </script>
    <%- include("templates/footer") %>
</body>
</html>