<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= title %></title>
<link rel="stylesheet" href="/resources/cdns/bootstrap.min.css">
<link rel="stylesheet" href="/resources/cdns/all.min.css"/>
<link rel="stylesheet" href="/resources/cdns/brands.min.css"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />

<meta name="description" content="RoquePerezHoy es el sitio número uno de noticias y guia comercial de Roque Pérez"/>
<!-- <link rel="canonical" href="https://www.roqueperez.hoy.com.ar" /> -->
<meta name="keywords" content="roque perez hoy, roque pérez hoy, noticias, guia comercial, eventos, comercios, emprendedores "/>
<meta name="author" content="Mathias Burgio" />
<meta name="copyright" content="Mathias Burgio" />
<meta name="robots" content="index"/>

<link rel="stylesheet" href="/styles/main.css">
<link rel="icon" href="/favicon.ico" type="image/x-icon" />

<meta property="og:title" content="<%= ogTitle %>"/>
<meta property="og:url" content="<%= ogUrl %>" />
<meta property="og:image" content="<%= ogImage %>" />
<meta property="og:type" content="<%= ogType %>" />
<link rel="manifest" href="/manifest.json">

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9Q3C6H51YY"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-9Q3C6H51YY');
</script>